/* Project name: Data Visualisation Exercise 1 DSIT */
/* Collaborators: Aris Podotas */
/* Country: Greece */
/* City: Athens */
/* Program: Data Science and Information Technologies */
/* Date: 11-03-2025 */

/* File wide variables */
* {
  box-sizing: border-box;
}

:root{
    /* Gradient dark */
    --gradd: #4d6c93;
    /* The light gradient color btw */
    --gradl: #7597c0;
    /* The whites */
    --offwhite: #fbfaff;
    /* Grey */
    --grey: #9c9c9e;
    /* dark balck */
    --offblack: #2e2e2e;
    /* I don't really like this color */
    --darkturquoise: #1b323e;
    /* for the wave keyframe */
    --transitions: #426490;
    /* Fonts */
    --sloganf: Libre Franklin;
    --backupfont: Verdana;
    --slogans: 57;
}

body{
    background-image: linear-gradient(to right, var(--gradd), var(--gradl), var(--gradd));
    margin: 0;
    font-family: 'Libre Franklin', Verdana;
    text-wrap: wrap;
    font-size: 1.25vw;
}

header{
    background-color: var(--offwhite);
}

.scroll-watcher{
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 1vh;
    background-color: var(--grey); /* go define it later */
    opacity: 0.5;
    width: 100%;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher {
    to { scale: 1 1; }
}

.container {
    background: var(--offwhite);
    margin: 15%;
    padding: 15%;
    border-radius: 15%;
}

.link {
    color: var(--offblack);
    text-decoration: none;
    animation: links;
}

.link::before, .link::after {
    display: block;
    content: "";
    background-color: var(--offblack);
    border-radius: 15vh;
    width: 100%;
    height: 1vh; /* Assuming you want a line effect; you can change the height */
    opacity: 0;
}

.link:hover::before, .link:hover::after {
    animation: linkline 1s ease-in-out forwards;
    transform-origin: center;
}

@keyframes linkline {
    0% {opacity: 0; width: 0%;}
    100% {opacity: 1; width: 100%;}
}

.float {
    position: fixed;
    z-index: 999;
    background-color: var(--logow);
    text-wrap: wrap;
    text-align: center;
    width: minmax(1%, 3.5%);
    height: minmax(1%, 5%);
    padding: 0.5%;
    box-shadow: 3px 3px 10px var(--offblack);
    border-radius: 15%;
    top: 88%;
    left: 92%;
    transform: translate(-50%, -50%); /* Center the cube */
}

.hidden {
    opacity: 0;
    display: none;
}

#globalf {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 190px));
    row-gap: 15vw;
}

.footer {
    display: block;
    margin: auto;
    padding: auto;
    text-wrap: wrap;
    text-align: center;
}

footer {
    background-color: var(--offwhite);
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 190px));
    row-gap: 15vw;
}

